body{
    background-color: #f3f4f6;
}

.container{
    display: grid;
    place-items: center;
}

select.form-select.w-100 {
    height: 36px;
    border-radius: 8px;
    border-color: #adb5bd;
}

h6{
    color: #515767;
}

.iconesview{
    display: flex;
    justify-content: center;
}