body{
    color: #BBAACC!important;
    background-image: url(https://horizons-ecv.netlify.app/julentto-photography-CIuakYIjadc-unsplash%201.png);
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 2rem!important;
}